@model MedOffice.ViewModels.DoctorVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.Spec.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Spec.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

