@model MedOffice.ViewModels.DoctorVM
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/ccs" />
@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<p>
    @Ajax.ActionLink("Create New", "Create",null, new AjaxOptions { UpdateTargetId = "dialog-create-doctor", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "create-doctor-opener" })
</p>
@using (Html.BeginForm("Index", "Doctors",FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Surname
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Email
        </th>
        <th>
            @Html.ActionLink("Specialization", "Index", new { sortOrder = ViewBag.SpecSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Patients
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Doctors) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spec.Name)
        </td>
        <td>
            @Ajax.ActionLink("Show","Patients", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "dialog-show-patients", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "show-patients-opener" })
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "dialog-edit-doctor", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "edit-doctor-opener" }) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "dialog-delete-doctor", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "delete-doctor-opener" })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.Doctors.PageCount < Model.Doctors.PageNumber ? 0: Model.Doctors.PageNumber) of @Model.Doctors.PageCount

@Html.PagedListPager(Model.Doctors, page => Url.Action("Index",new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<div id="dialog-delete-doctor" title="Delete">
</div>

<div id="dialog-edit-doctor" title="Edit"></div>

<div id="dialog-create-doctor" title="Create"></div> 

<div id="dialog-show-patients" title="Patients"></div>