@model MedOffice.ViewModels.DoctorVM
@using PagedList.Mvc;

<p>
   
</p>


<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Doctor
        </th>
        <th>
            Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Patients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.Patients.PageCount < Model.Patients.PageNumber ? 0 : Model.Patients.PageNumber) of @Model.Patients.PageCount

@Html.PagedListPager(Model.Patients, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


