@model MedOffice.ViewModels.AdminVM

@{
    ViewBag.Title = "Index";
}

<h2>Administrators</h2>

<p>
    @Ajax.ActionLink("Create New", "Create",null, new AjaxOptions { UpdateTargetId = "dialog-create-admin", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "create-admin-opener" }) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("SurName")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "dialog-edit-admin", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "edit-admin-opener" }) |
            @Ajax.ActionLink("Delete","Delete",new { id = item.ID }, new AjaxOptions { UpdateTargetId = "dialog-delete-admin", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @class = "delete-admin-opener" } )
        </td>
    </tr>
}

</table>


<div id="dialog-delete-admin" title="Delete">
</div>

<div id="dialog-edit-admin" title="Edit"></div>

<div id="dialog-create-admin" title="Create"></div> 

