@model MedOffice.ViewModels.AdminVM

@{
    ViewBag.Title = "Index";
}

<h2>Administrators</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("SurName")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "dialog-edit", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @id = "edit-opener" }) |
            @Ajax.ActionLink("Delete","Delete",new { id = item.ID }, new AjaxOptions { UpdateTargetId = "dialog-delete", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, htmlAttributes: new { @id = "delete-opener" } )
        </td>
    </tr>
}

</table>


<div id="dialog-delete" title="Delete">
</div>

<div id="dialog-edit" title="Edit"></div>